# Go build
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go test
*.test

# Go coverage
*.out

# Go workspace
**/go.work
**/go.work.sum

# Build output
dist/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
sunshine-proxy
